/* Home Page */
.home {
  background: url("./images/homepage-bg.png");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
hr {
  border: 1px solid #1a1a1a;
}
header {
  max-width: 95%;
  margin: auto;
  padding: 1em 0;
}
.home-logo {
  max-width: 100%;
  width: 200px;
  padding: 0.8em 0;
}

.home-main {
  text-align: center;
  transform: translateY(40vh);
  position: relative;
}
.add-resume {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 13px 90px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  z-index: 1;
}
.logo-2 {
  z-index: 0;
  position: absolute;
  left: 53%;
  top: 44%;
  width: 300px;
}

/* Private Info */
.private-info {
  width: 100%;
  display: flex;
}
.private-info-form {
  width: 55%;
  background-color: #f9f9f9;
  padding: 1em 5em;
  height: 100vh;
}
.private-info-form input {
  border: 1px solid #bcbcbc;
  border-radius: 3px;
}

.private-info-form-header {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 0.5em;
}

#private-info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

#numeration {
  font-weight: 400;
  line-height: 24px;
}
.form-names-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.form-names-container input {
  width: 100%;
  margin: 7px 2px;
  padding: 10px 5px;
}
input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 0.3em;
}

.private-picture {
  display: flex;
  margin-top: 2em;
  position: relative;
  gap: 1em;
}
#incorrect-picture {
  color: #f02424;
  position: absolute;
  right: 55%;
  top: 50%;
  transform: translateY(-50%);
}
.about-me {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.about-me input {
  padding: 10px 0 90px 10px;
  margin-top: 0.5em;
}
.email {
  margin-top: 2em;
}
.email input {
  margin: 7px 2px;
  padding: 10px;
  width: 100%;
}
textarea {
  height: 200px;
  padding: 10px 0 90px 10px;
  margin-top: 0.5em;
  resize: none;
}
.phone {
  margin-top: 2em;
}
.phone input {
  margin: 7px 2px;
  padding: 10px;
  width: 100%;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 7em;
}
.btn-container button {
  background-color: #6b40e3;
  font-weight: 500;
  border: none;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.top-label {
  font-weight: 700;
}
.bottom-label {
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.upload-label {
  background-color: #0e80bf;
  color: white;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  border-radius: 6px;
}

#correct-name {
  color: #98e37e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#correct-mail {
  color: #98e37e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#incorrect-name {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12%;
}
#incorrect-last-name {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12%;
}
#incorrect-mail {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
#correct-phone {
  color: #98e37e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#incorrect-phone {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
#correct-last-name {
  color: #98e37e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.first-name,
.last-name,
.email,
.phone {
  position: relative;
}
.first-name,
.last-name {
  width: 40%;
}
.return {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  margin-left: 0.5em;
  color: black;
  background-color: white;
  padding: 0.5em 0.7em;
  border-radius: 100%;
}

/* Resume */
.resume-container {
  max-width: 45%;
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  padding: 0 5em;
  position: relative;
}

.resume-container p {
  font-size: 18px;
}
.resume-container i {
  font-size: 15px;
  color: gray;
}
.resume-container h4 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.5em;
  margin-bottom: 2em;
}

.name-container {
  display: flex;
}
#first-name,
#last-name,
.resume-container h4 {
  color: #f93b1d;
}

#first-name,
#last-name {
  font-size: 34px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em 0;
}
.about-container {
  max-width: 60%;
  word-wrap: break-word;
}
.about-container p {
  font-size: 16px;
}

#upload-preview {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  right: 6%;
  margin-right: 1em;
  object-fit: cover;
  top: 0;
}
.resume-container {
  height: 94vh;
  overflow-y: scroll;
  position: relative;
}
.resume-container::-webkit-scrollbar {
  background-color: white;
  width: 3px;
}
.resume-container::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 10px;
}

.logo-3 {
  width: 42px;
  margin: 1em;
  position: fixed;
  bottom: 0;
  margin-left: -4em;
}
#upload-preview {
  display: none;
}
#upload-preview[src] {
  display: block;
}

/* Experience */
.experience {
  width: 100%;
  display: flex;
}
.experience-info-form {
  width: 55%;
  background-color: #f9f9f9;
  overflow-y: scroll;
  padding: 1em 5em;
  height: 100vh;
}
.experience-info-form::-webkit-scrollbar {
  background-color: white;
  width: 3px;
}
.experience-info-form::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 10px;
}
.experience-info-form input {
  border: 1px solid #bcbcbc;
  border-radius: 3px;
}
.experience-info-form input,
.experience-info-form textarea {
  width: 100%;
  margin: 7px 2px;
  padding: 10px 5px;
}
.experience-form-header {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 0.5em;
}

.duration {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.duration input {
  width: 100%;
  margin: 7px 2px;
  padding: 10px 5px;
}

.exp {
  justify-content: space-between;
}

.add-more-experience {
  margin-top: 3em;
}
.add {
  background-color: #62a1eb;
  color: white;
  border: none;
  padding: 18px 24px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.duration-container {
  display: flex;
  justify-content: space-between;
}

.duration-start,
.duration-end {
  width: 40%;
}

.position-container,
.employer-container,
.duration-container,
.description-container {
  margin-top: 2em;
}

.description-container textarea {
  height: 15vh;
}
.position-container {
  position: relative;
}
.employer-container {
  position: relative;
}
#correct-position,
#correct-employer {
  color: #98e37e;
  position: absolute;
  top: 40%;
  right: 5px;
}
#incorrect-position,
#incorrect-employer {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
#incorrect-description {
  color: #f02424;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
.description-container {
  max-width: 100%;
  word-wrap: break-word;
  margin-top: 1em;
  margin-bottom: 3em;
  position: relative;
}

.danger {
  border: 1px solid #f02424 !important;
}
.success {
  border: 1px solid #98e37e !important;
}
.default {
  border: 1px solid #8c8c8c !important;
}
.label-danger {
  color: #f02424 !important;
}
.label-success {
  color: black !important;
}
.label-default {
  color: black !important;
}
/* .resume-wrapper {
  width: 100%;
  border: 1px solid red;
  height: 200px;
  overflow-y: scroll;
}
.resume-wrapper::-webkit-scrollbar {
  background-color: white;
  width: 3px;
}
.resume-wrapper::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 10px;
} */
