/* Home Page */
.home {
  background: url("./images/homepage-bg.png");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
hr {
  border-top: 1.6px solid black;
}
header {
  max-width: 95%;
  margin: auto;
  padding: 1em 0;
}
.home-logo {
  max-width: 100%;
  width: 200px;
  padding: 0.8em 0;
}

.home-main {
  text-align: center;
  transform: translateY(40vh);
  position: relative;
}
.add-resume {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 13px 90px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}
.logo-2 {
  z-index: 0;
  position: absolute;
  left: 53%;
  top: 44%;
  width: 300px;
}

/* Private Info */
.private-info {
  width: 100%;
}

.private-info-form {
  max-width: 50%;
  background-color: #f9f9f9;
  padding: 1em 5em;
}

.private-info-form-header {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 0.5em;
}

.form-names-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.form-names-container input {
  width: 100%;
}
.private-picture {
  display: flex;
  margin-top: 2em;
  gap: 1em;
}
.about-me {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.email {
  margin-top: 2em;
}
.phone {
  margin-top: 2em;
}
