/* Home Page */
.home {
  background: url("./images/homepage-bg.png");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
hr {
  border-top: 1.6px solid black;
}
header {
  max-width: 95%;
  margin: auto;
  padding: 1em 0;
}
.home-logo {
  max-width: 100%;
  width: 200px;
  padding: 0.8em 0;
}

.home-main {
  text-align: center;
  transform: translateY(40vh);
  position: relative;
}
.add-resume {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 13px 90px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}
.logo-2 {
  z-index: 0;
  position: absolute;
  left: 53%;
  top: 44%;
  width: 300px;
}

/* Private Info */
.private-info {
  width: 100%;
  display: flex;
}
.private-info-form {
  width: 55%;
  background-color: #f9f9f9;
  padding: 1em 5em;
  height: 100vh;
}
.private-info-form input {
  border: 1px solid #b8b8b8;
  border-radius: 3px;
}

.private-info-form-header {
  display: flex;
  justify-content: space-between;
  margin: 0.6em 0.5em;
}
.form-names-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.form-names-container input {
  width: 100%;
  margin: 7px 2px;
  padding: 10px 5px;
}

.private-picture {
  display: flex;
  margin-top: 2em;
  gap: 1em;
}
.about-me {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.about-me input {
  padding: 10px 0 90px 10px;
  margin-top: 0.5em;
}
.email {
  margin-top: 2em;
}
.email input {
  margin: 7px 2px;
  padding: 10px;
  width: 100%;
}
textarea {
  height: 200px;
  padding: 10px 0 90px 10px;
  margin-top: 0.5em;
  resize: none;
}
.phone {
  margin-top: 2em;
}
.phone input {
  margin: 7px 2px;
  padding: 10px;
  width: 100%;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 7em;
}
.btn-container button {
  background-color: #6b40e3;
  border: none;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
.top-label {
  font-weight: 700;
}
.bottom-label {
  color: #b8b8b8;
  font-size: 13px;
}
.upload-label {
  background-color: #0e80bf;
  color: white;
  padding: 6px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 6px;
}

#correct-name {
  color: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#correct-mail {
  color: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#incorrect-name {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12%;
}
#incorrect-last-name {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12%;
}
#incorrect-mail {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
#correct-phone {
  color: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
#incorrect-phone {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.5%;
}
#correct-last-name {
  color: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.first-name,
.last-name,
.email,
.phone {
  position: relative;
}

/* Resume */
.resume-container {
  max-width: 45%;
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  position: relative;
}

.resume-container p {
  font-size: 18px;
}
.resume-container i {
  font-size: 15px;
  color: gray;
}
.resume-container h4 {
  font-size: 18px;
  font-weight: 700;
}

.name-container {
  display: flex;
}
#first-name,
#last-name,
.resume-container h4 {
  color: #f93b1d;
}

#first-name,
#last-name {
  font-size: 34px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em 0;
}
.about-container {
  max-width: 43vh;
}
.about-container p {
  font-size: 16px;
}

#upload-preview {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  margin-right: 1em;
  object-fit: cover;
  top: 0;
}
.resume-container h4 {
  margin-bottom: 2em;
}
