@font-face {
  font-family: "HelveticaNeue";
  src: url("./font/HelveticaNeue.ttc");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue";
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
label {
  display: block;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
}

input {
  outline: none;
}
